/* Dropdown menu */

.dropdown-menu li {
  opacity: 0;
  transform: translateY(-5px);
  animation: dropdownItem 0.3s ease forwards;
}

@keyframes dropdownItem {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Thêm hiệu ứng mượt cho accordion-body */
.accordion-body {
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.3s ease;
}

/* Collapse khi ẩn */
.accordion-collapse:not(.show) .accordion-body {
  max-height: 0;
  opacity: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/* Khi hiện ra */
.accordion-collapse.show .accordion-body {
  max-height: 99999999px;
  opacity: 1;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Tắt nền xanh khi mở accordion */
.accordion-button:not(.collapsed) {
  background-color: transparent;
  color: inherit;
  box-shadow: none;
}

/* Hidden */

.hidden {
  display: none;
}

/* Hiệu ứng trượt của toast */
.toast-slide-in {
  animation: slideInRight 0.1s ease forwards;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Ảnh responsive */

@media (min-width: 768px) {
  .w-md-50 {
    width: 50% !important;
  }
  .w-md-75 {
    width: 75% !important;
  }
}

/* Các css khác */

* {
  text-align: justify;
}

th {
  text-align: center;
  background-color: #f2f2f2 !important;
}

ul,
ol {
  margin: 0 0 0 1.5em;
  padding: 0;
  list-style-position: outside;
}

footer {
  background: #1488db;
  background: linear-gradient(
    90deg,
    rgba(20, 136, 219, 1) 0%,
    rgba(4, 43, 146, 1) 60%
  );
}

.navbar {
  color: white;
  position: sticky;
  top: 0;
}

thead {
  position: sticky;
  top: 71px;
}

a {
  color: #042b92;
  text-decoration: none;
}

a:hover {
  color: #042b92;
  text-decoration: underline;
}

a:active {
  color: #1488db;
}

.nav-link:hover {
  text-decoration: none !important;
  color: #042b92;
  transform: translateY(-3px);
  transition: 0.2s;
}

.nav-link:active {
  color: #1488db;
}

.thhb-p {
  width: 100% !important;
  transform: none !important;
  transition: none !important;
  border: none !important;
  box-shadow: none !important;
}

button:hover,
input:hover,
textarea:hover {
  transform: translateY(-2px);
  transition: 0.3s;
}

button:focus:not(.accordion-button),
button:active:not(.accordion-button) {
  border: none;
  transform: scale(0.97, 0.97);
  transition: 0.3s;
}

.result-table td {
  text-align: center;
}

#capture-dom {
  position: fixed;
  z-index: 9999;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  bottom: 20px;
  left: 20px;
}

#capture-dom svg {
  width: 100%;
  height: 100%;
  padding: 15%;
  box-sizing: border-box;
}

li {
  margin-top: 0.25rem;
}
